.modal {
  --bs-modal-width: 528px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    opacity: .6;
  }

  @at-root
  #formModal &-body,
  #formSuccess &-body {
    @media (min-width: 768px) {
      padding: 0 5.5rem 2rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    &-success {
      width: 100%;
      margin: 0 auto 1.5rem;
    }
  }

  &__content {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #909090;
  }
}
