.hero {
  display: flex;
  align-items: center;
  height: 368px;
  padding: 1rem 2.5rem;
  border-radius: $section-border-radius;
  background-color: $section-bg-gray;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 100%, contain;
  background-image: url(../img/hero_bg-xs.png);
  @include media-breakpoint-up(md) {
    background-size: contain;
    background-image: url(../img/hero_bg-md.png);
  }
  @include media-breakpoint-up(xl) {
    height: 512px;
    background-image: url(../img/hero_bg-lg.png);
  }

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: #2B2A29;

    span {
      color: #66C3D0;
    }
  }
}
