footer {

  &.navbar {
    background-color: $section-bg-gray;
  }

  .navbar-nav {
    @include media-breakpoint-up(md) {
      display: none;
    }
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }

  .navbar-text {
    @include media-breakpoint-up(md) {
      align-items: flex-end;
      margin-left: auto;
    }
  }
}
